
* {
  /* #3. Add box-sizing: border-box; to everything */

}

h1[
font-size:50

]

header, footer {
  height: 90px;
  border: 1px solid black;
  
  #menu {
    width: 550px;
    height: 35px;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 2px 3px #333333;
    background-color: #8AD9FF;
        border-radius: 8px;
		
		#menu ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
		
		
		#menu a {
    text-decoration: none;
    color: #00F;
    padding: 8px 8px 8px 8px;
		
		
		
		#menu ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
  
  
}

aside img {
	max-width: 100%;
}

/*----------------------------------------------
  C O L U M N   L A Y O U T
------------------------------------------------*/

/*
INSTRUCTIONS:
STEPS 1 & 2 are in the index.html file & 
step #3 is at thetop of this file
*/


section {
  /* #4. Give a width to each column*/


  /* #6. Float each column to left*/


  /* #7. Give this section a padding-right to add a little space between columns. */

}

aside {
  /* #5. Give a width to each column*/


  /* #8. Float each column to left*/


}


footer {
  background: #F8CE78;
  /* 9. Clear anything underneath your columns i.e. a footer */
  
}
